function Main.isContinue 0
call Keyboard.keyPressed 0
push constant 49
eq
if-goto IF-TRUE0
goto IF-FALSE1
label IF-TRUE0
push constant 27
call String.new 1
push constant 89
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 120
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 46
call String.appendChar 2
pop static 8
push constant 0
return
label IF-FALSE1
push static 2
push static 10
eq
if-goto IF-TRUE2
goto IF-FALSE3
label IF-TRUE2
push constant 0
push constant 0
push constant 511
push constant 255
call Screen.drawRectangle 4
pop temp 0
push constant 400
call Sys.wait 1
pop temp 0
call Screen.clearScreen 0
pop temp 0
push constant 100
call Sys.wait 1
pop temp 0
push constant 0
push constant 0
push constant 511
push constant 255
call Screen.drawRectangle 4
pop temp 0
push constant 400
call Sys.wait 1
pop temp 0
call Screen.clearScreen 0
pop temp 0
push constant 100
call Sys.wait 1
pop temp 0
push constant 0
push constant 0
push constant 511
push constant 255
call Screen.drawRectangle 4
pop temp 0
push constant 400
call Sys.wait 1
pop temp 0
call Screen.clearScreen 0
pop temp 0
push constant 26
call String.new 1
push constant 89
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 89
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 107
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 46
call String.appendChar 2
pop static 8
push constant 0
return
label IF-FALSE3
push static 3
push static 11
eq
if-goto IF-TRUE4
goto IF-FALSE5
label IF-TRUE4
push constant 34
call String.new 1
push constant 89
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 46
call String.appendChar 2
pop static 8
push constant 0
return
label IF-FALSE5
push static 5
push constant 32000
gt
push static 5
push constant 0
lt
or
if-goto IF-TRUE6
goto IF-FALSE7
label IF-TRUE6
push constant 17
call String.new 1
push constant 89
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 87
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 71
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 33
call String.appendChar 2
pop static 8
push constant 0
return
label IF-FALSE7
push constant 0
not
return
function Main.welcomeScreen 4
push constant 0
pop local 2
push constant 5
pop local 1
call Screen.clearScreen 0
pop temp 0
push local 1
push constant 15
call Output.moveCursor 2
pop temp 0
push constant 22
call String.new 1
push constant 87
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 70
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 106
call String.appendChar 2
push constant 97
call String.appendChar 2
pop local 0
push local 0
call Output.printString 1
pop temp 0
push local 0
call String.dispose 1
pop temp 0
push local 1
push constant 1
add
pop local 1
push local 1
push constant 1
add
pop local 1
push local 1
push local 2
call Output.moveCursor 2
pop temp 0
push constant 6
call String.new 1
push constant 82
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 58
call String.appendChar 2
pop local 0
push local 0
call Output.printString 1
pop temp 0
push local 0
call String.dispose 1
pop temp 0
push local 1
push constant 1
add
pop local 1
push local 1
push local 2
call Output.moveCursor 2
pop temp 0
push constant 62
call String.new 1
push constant 49
call String.appendChar 2
push constant 41
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 107
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 44
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 119
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 46
call String.appendChar 2
pop local 0
push local 0
call Output.printString 1
pop temp 0
push local 0
call String.dispose 1
pop temp 0
push local 1
push constant 1
add
pop local 1
push local 1
push local 2
call Output.moveCursor 2
pop temp 0
push constant 49
call String.new 1
push constant 50
call String.appendChar 2
push constant 41
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 68
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 107
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 44
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 119
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 107
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 46
call String.appendChar 2
pop local 0
push local 0
call Output.printString 1
pop temp 0
push local 0
call String.dispose 1
pop temp 0
push local 1
push constant 1
add
pop local 1
push local 1
push local 2
call Output.moveCursor 2
pop temp 0
push constant 59
call String.new 1
push constant 51
call String.appendChar 2
push constant 41
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 51
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 107
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 46
call String.appendChar 2
pop local 0
push local 0
call Output.printString 1
pop temp 0
push local 0
call String.dispose 1
pop temp 0
push local 1
push constant 1
add
pop local 1
push local 1
push local 2
call Output.moveCursor 2
pop temp 0
push constant 42
call String.new 1
push constant 52
call String.appendChar 2
push constant 41
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 120
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 44
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 39
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 39
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 107
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 46
call String.appendChar 2
pop local 0
push local 0
call Output.printString 1
pop temp 0
push local 0
call String.dispose 1
pop temp 0
push local 1
push constant 1
add
pop local 1
push local 1
push constant 1
add
pop local 1
push local 1
push constant 12
call Output.moveCursor 2
pop temp 0
push constant 28
call String.new 1
push constant 84
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 44
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 107
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
pop local 0
push local 0
call Output.printString 1
pop temp 0
push local 0
call String.dispose 1
pop temp 0
push constant 0
pop local 3
push constant 0
pop static 7
label WHILE_COND8
push local 3
push constant 0
eq
not
if-goto WHILE_END9
call Keyboard.keyPressed 0
pop local 3
push static 7
push constant 1
add
pop static 7
goto WHILE_COND8
label WHILE_END9
push static 7
push local 3
add
pop static 7
push static 7
call Random.init 1
pop temp 0
call Screen.clearScreen 0
pop temp 0
push constant 0
return
function Main.init 0
call Main.welcomeScreen 0
pop temp 0
call Screen.clearScreen 0
pop temp 0
push constant 10
pop static 9
push constant 1
pop static 10
push constant 3
pop static 11
push constant 0
pop static 1
push constant 0
pop static 2
push constant 0
pop static 3
push constant 0
pop static 4
push constant 0
pop static 5
push constant 0
pop static 6
push static 9
call Array.new 1
pop static 0
push constant 0
return
function Main.addFruit 3
call Fruit.new 0
pop local 0
push constant 0
pop local 2
label WHILE_COND10
push local 2
push static 1
lt
not
if-goto WHILE_END11
push local 2
push static 0
add
pop pointer 1
push that 0
pop local 1
push local 0
call Fruit.getLetter 1
push local 1
call Fruit.getLetter 1
eq
if-goto IF-TRUE12
goto IF-FALSE13
label IF-TRUE12
push local 0
call Fruit.dispose 1
pop temp 0
push constant 0
return
label IF-FALSE13
push local 2
push constant 1
add
pop local 2
goto WHILE_COND10
label WHILE_END11
push static 1
push static 0
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 1
push constant 1
add
pop static 1
push constant 0
return
function Main.removeFruit 1
push argument 0
push static 0
add
pop pointer 1
push that 0
pop local 0
push local 0
call Fruit.dispose 1
pop temp 0
push static 1
push constant 1
sub
push static 0
add
pop pointer 1
push that 0
pop local 0
push argument 0
push static 0
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 1
push constant 1
sub
pop static 1
push constant 0
return
function Main.readInput 4
call Keyboard.keyPressed 0
pop local 1
push local 1
call Random.changeSeed 1
pop temp 0
push constant 0
pop local 3
label WHILE_COND14
push local 3
push static 1
lt
not
if-goto WHILE_END15
push local 3
push static 0
add
pop pointer 1
push that 0
pop local 0
push local 0
call Fruit.getLetter 1
pop local 2
push local 2
push local 1
eq
if-goto IF-TRUE16
goto IF-FALSE17
label IF-TRUE16
push local 0
call Fruit.isBomb 1
if-goto IF-TRUE18
goto IF-FALSE19
label IF-TRUE18
push static 2
push constant 1
add
pop static 2
push static 5
push constant 300
sub
pop static 5
goto IF-EXIT20
label IF-FALSE19
push static 4
push constant 1
add
pop static 4
push static 5
push local 0
call Fruit.getLetter 1
push constant 32
sub
add
pop static 5
label IF-EXIT20
push local 3
call Main.removeFruit 1
pop temp 0
push constant 0
return
label IF-FALSE17
push local 3
push constant 1
add
pop local 3
goto WHILE_COND14
label WHILE_END15
push constant 0
return
function Main.drawScreen 4
call Screen.clearScreen 0
pop temp 0
push constant 1
push constant 1
call Output.moveCursor 2
pop temp 0
push constant 8
call String.new 1
push constant 80
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
pop local 3
push local 3
call Output.printString 1
pop temp 0
push local 3
call String.dispose 1
pop temp 0
push static 5
call Output.printInt 1
pop temp 0
push constant 17
call String.new 1
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 66
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 107
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
pop local 3
push local 3
call Output.printString 1
pop temp 0
push local 3
call String.dispose 1
pop temp 0
push static 2
call Output.printInt 1
pop temp 0
push constant 20
call String.new 1
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 70
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
pop local 3
push local 3
call Output.printString 1
pop temp 0
push local 3
call String.dispose 1
pop temp 0
push static 3
call Output.printInt 1
pop temp 0
push constant 0
pop local 1
label WHILE_COND21
push local 1
push static 1
lt
not
if-goto WHILE_END22
push local 1
push static 0
add
pop pointer 1
push that 0
pop local 0
push local 0
call Fruit.draw 1
pop local 2
push local 2
if-goto IF-TRUE23
goto IF-FALSE24
label IF-TRUE23
push local 0
call Fruit.isBomb 1
not
if-goto IF-TRUE25
goto IF-FALSE26
label IF-TRUE25
push static 3
push constant 1
add
pop static 3
label IF-FALSE26
push local 1
call Main.removeFruit 1
pop temp 0
label IF-FALSE24
push local 1
push constant 1
add
pop local 1
goto WHILE_COND21
label WHILE_END22
push constant 0
return
function Main.gameOver 2
push constant 0
pop local 1
call Screen.clearScreen 0
pop temp 0
push constant 7
push constant 12
call Output.moveCursor 2
pop temp 0
push constant 9
call String.new 1
push constant 71
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 86
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 82
call String.appendChar 2
pop local 0
push local 0
call Output.printString 1
pop temp 0
push local 0
call String.dispose 1
pop temp 0
push constant 8
push constant 12
call Output.moveCursor 2
pop temp 0
push static 8
call Output.printString 1
pop temp 0
push constant 9
push constant 12
call Output.moveCursor 2
pop temp 0
push constant 8
call String.new 1
push constant 89
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 32
call String.appendChar 2
pop local 0
push local 0
call Output.printString 1
pop temp 0
push local 0
call String.dispose 1
pop temp 0
push static 5
call Output.printInt 1
pop temp 0
push constant 19
call String.new 1
push constant 32
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 32
call String.appendChar 2
pop local 0
push local 0
call Output.printString 1
pop temp 0
push local 0
call String.dispose 1
pop temp 0
push static 4
call Output.printInt 1
pop temp 0
push constant 8
call String.new 1
push constant 32
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 46
call String.appendChar 2
pop local 0
push local 0
call Output.printString 1
pop temp 0
push local 0
call String.dispose 1
pop temp 0
push constant 10
push constant 12
call Output.moveCursor 2
pop temp 0
push constant 33
call String.new 1
push constant 87
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 107
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 63
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 89
call String.appendChar 2
push constant 47
call String.appendChar 2
push constant 78
call String.appendChar 2
pop local 0
push local 0
call Output.printString 1
pop temp 0
push local 0
call String.dispose 1
pop temp 0
label WHILE_COND27
push constant 0
not
not
if-goto WHILE_END28
call Keyboard.keyPressed 0
pop local 1
push local 1
push constant 89
eq
if-goto IF-TRUE29
goto IF-FALSE30
label IF-TRUE29
push constant 200
call Sys.wait 1
pop temp 0
push constant 0
not
return
label IF-FALSE30
push local 1
push constant 78
eq
if-goto IF-TRUE31
goto IF-FALSE32
label IF-TRUE31
push constant 0
return
label IF-FALSE32
goto WHILE_COND27
label WHILE_END28
push constant 0
not
return
function Main.main 3
push constant 0
not
pop local 0
push constant 150
pop local 1
label WHILE_COND33
push local 0
not
if-goto WHILE_END34
call Main.init 0
pop temp 0
label WHILE_COND35
call Main.isContinue 0
not
if-goto WHILE_END36
push static 1
push static 9
lt
push static 6
push constant 4
call Random.mod 2
push constant 0
eq
and
if-goto IF-TRUE37
goto IF-FALSE38
label IF-TRUE37
call Main.addFruit 0
pop temp 0
label IF-FALSE38
call Main.readInput 0
pop temp 0
call Main.drawScreen 0
pop temp 0
push local 1
call Sys.wait 1
pop temp 0
push local 1
push constant 100
gt
if-goto IF-TRUE39
goto IF-FALSE40
label IF-TRUE39
push constant 150
push static 5
push constant 130
call Math.divide 2
sub
pop local 1
label IF-FALSE40
push static 6
push constant 1
add
pop static 6
goto WHILE_COND35
label WHILE_END36
call Main.drawScreen 0
pop temp 0
call Main.gameOver 0
pop local 0
push static 8
call String.dispose 1
pop temp 0
label WHILE_COND41
push static 1
push constant 0
gt
not
if-goto WHILE_END42
push static 1
push constant 1
sub
call Main.removeFruit 1
pop temp 0
goto WHILE_COND41
label WHILE_END42
goto WHILE_COND33
label WHILE_END34
call Screen.clearScreen 0
pop temp 0
push constant 7
push constant 26
call Output.moveCursor 2
pop temp 0
push constant 8
call String.new 1
push constant 71
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 68
call String.appendChar 2
push constant 66
call String.appendChar 2
push constant 89
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 33
call String.appendChar 2
pop local 2
push local 2
call Output.printString 1
pop temp 0
push local 2
call String.dispose 1
pop temp 0
push constant 0
return
