function Problem.addFruit 5
call Fruit.new 0
pop local 2
push constant 0
pop local 4
label WHILE_COND0
push local 4
push local 1
lt
not
if-goto WHILE_END1
push local 4
push local 0
add
pop pointer 1
push that 0
pop local 3
push local 2
call Fruit.getLetter 1
push local 3
call Fruit.getLetter 1
eq
if-goto IF-TRUE2
goto IF-FALSE3
label IF-TRUE2
push local 2
call Fruit.dispose 1
pop temp 0
push constant 0
return
label IF-FALSE3
push local 4
push constant 1
add
pop local 4
goto WHILE_COND0
label WHILE_END1
push local 1
push local 0
add
push local 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
push constant 0
return
